@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F8F7F6;
}

.navbar {
  background-color: #F8F7F6;
  color: #33658A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.website-name {
  font-family: 'Salsa', cursive;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin-left: 20px;
  color: #33658A;
  text-decoration: none;
  font-size: 16px;
}

.nav-link.login-button {
  padding: 5px 10px;
  color: #33658A;
  text-decoration: none;
}

.main-content {
  text-align: center;
  padding: 20px;
}

.main-image-container {
  position: relative;
  width: 95%;
  margin: 5px auto;
}

.main-image {
  width: 100%;
  height: auto;
}

.quote-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F8F7F6;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-family: 'Sanchez', serif;
  font-size: 20px;
  color: #A17D60;
  margin: 0;
}

.sub-images-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.sub-image {
  position: relative;
  width: 30%;
}

.sub-img {
  width: 100%;
  height: auto;
}

.sub-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #A17D60;
  font-family: 'Salsa', cursive;
  font-size: 20px;
  background-color: rgba(248, 247, 246, 0.7);
  padding: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-image-container, .sub-images-container {
    flex-direction: column;
    width: 100%;
  }

  .sub-image {
    width: 80%;
    margin: 10px auto;
  }

  .navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-link {
    margin: 5px 0;
  }
}
